{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <div class="messages">
        {% for message in messages %}
            <div class="message
            {% if message.sender.id == current_user.id %}
                sender
            {% else %}
                recipient
            {% endif %}
            ">
            {% if message.sender.id == current_user.id %}
                <p>From: You</p>
            {% else %}
                <p>From: {{ message.sender.name }}</p>
            {% endif %}
                <p>Message: {{ message.body }}</p>
                <p>Sent: {{ message.get_time() }}</p>
            </div>
        {% endfor %}Z
    </div>
    <div>
        <h2>Reply:</h2>
        <form action="{{ url_for('new_message') }}" method="POST">
            {{ message_form.recipient_id(value=user_id) }}
            {{ message_form.body }}
            {{ message_form.submit }}
        </form>
    </div>
{% endblock %}