/*----------------- base.html--------------------- */
.navbar-brand-dark-pink {
    display: flex;
    color: #5a2328; 
    font-size: x-large;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.nav-link-dark-pink{
    display: flex;
    color: #5a2328;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.nav-item{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
header{
    display: flex;
    height: 100px;
    width:100vw;
    position: static;
    top: 0px;
}


/*----------------------- home.html --------------------- */
.home-body{
    background-color: #7a9b76;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    width: 100vw;
    height: 100vh;
}
.form-container-1{
    display: flex;
    flex-direction: row;
    top: 0px;
    flex: auto;
    margin-left: 40px;
    color: #b5ffe9;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    
}
.btn-submit{
    display: flex;
    background-color: #b5ffe9;
    color: #444545;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.form-container-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 30px;
}
.form-container-2 ul{
    list-style: none;
}
.tagline{
    display: flex;
    justify-content:center ;
    font-size: 150px;
    font-family: Late Night;
    color: #b5ffce;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 1px #b5ffe9, 0 0 5px #b5ffe9, 0 0 10px #16FA4A , 0 0 15px #16FA4A , 0 0 20px #16FA4A , 0 0 25px #068223 , 0 0 30px #068223 ;
    }
    to {
      text-shadow: 0 0 10px #b5ffe9, 0 0 20px #b5ffe9, 0 0 30px #16FA4A , 0 0 40px #16FA4A , 0 0 50px #16FA4A , 0 0 60px #068223 , 0 0 70px #068223 ;
    }
  }
.home-field{
    background-color: #444545;
    color: #b5ffe9;
    border-color: #b5ffe9;
}
.btn-logout{
    display: flex;
    position: absolute;
    color: #b5ffe9;
    background-color: #5a2328;
    margin-top: 175px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);   
}
.fem{
    color: #5a2328;
}
.create-btn{
    display: flex;
    background-color: #b5ffe9;
    color: #444545;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.photo1{
    display: flex;
    height: 300px;
    margin-left:  100px;
    
}
.acct-create{
    font-size: x-large;
    font-weight: 600;
    margin: 25px;
}
#log{margin-left: 10px;}


/*--------------------- profile.html----------------------- */
.name{
    display: flex;
    font-size: 150px;
    font-family: Late Night;
    text-align:start;
    margin-top: 25px;
    margin-left: 25px;
    color: #b5ffce;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 1px #b5ffe9, 0 0 5px #b5ffe9, 0 0 10px #16FA4A , 0 0 15px #16FA4A , 0 0 20px #16FA4A , 0 0 25px #068223 , 0 0 30px #068223 ;
    }
    to {
      text-shadow: 0 0 10px #b5ffe9, 0 0 20px #b5ffe9, 0 0 30px #16FA4A , 0 0 40px #16FA4A , 0 0 50px #16FA4A , 0 0 60px #068223 , 0 0 70px #068223 ;
    }
  }
.add-name{
    color: #b5ffe9;
    font-size: x-large;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    text-align:start;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-left: 100px;
}
.profile-body{
    background-color: #7a9b76;
    background-size: cover;
    background-attachment: scroll;
    
}
.pic-add{
    margin-left: 50px;
}
.pic-form{
    color: #b5ffe9;
    margin-left: 50px;
    padding: 0px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}
.pic-form-box-address{
    border-color: #b5ffe9;
    background-color: transparent;
    color:#b5ffe9;
    background-color: #444545;
    
}
.pic-form-box-comment{
    border-color: #b5ffe9;
    background-color: transparent;
    color: #b5ffe9;
    background-color: #444545;
}
.pic-comment{
    color: #b5ffe9;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);

}
.pic-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
}
.pics{
    margin-left: 30px;
}
.pic{
    transition: transform 0.4s ease-in-out;
}
.pic:hover{
    transform: scale(2);
}
.delete-btn{
    display: flex;
    color: #b5ffe9;
    background-color: #5a2328;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9)
}
.add-btn{
    margin-left: 25px;
    color: #444545;
    background-color: #b5ffe9;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    width: 70px;
}
.logo{
    height: 40px;
}

/*----------------------- all_users.html-------------------- */
.heading{
    display: flex;
    justify-content: center;
    left: 200px;
    font-size: 200px;
    font-family: Late Night;
    color: #b5ffce;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 1px #b5ffe9, 0 0 5px #b5ffe9, 0 0 10px #16FA4A , 0 0 15px #16FA4A , 0 0 20px #16FA4A , 0 0 25px #068223 , 0 0 30px #068223 ;
    }
    to {
      text-shadow: 0 0 10px #b5ffe9, 0 0 20px #b5ffe9, 0 0 30px #16FA4A , 0 0 40px #16FA4A , 0 0 50px #16FA4A , 0 0 60px #068223 , 0 0 70px #068223 ;
    }
  }
.users-body{
    background-color: #7a9b76;
}
.search-form{
    display: flex;
    justify-content: center;
    left: 200px;
    font-size: 30px;
    color: #5a2328;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.search-form ul {
    list-style-type: none;
}
.search-btn{
    display: flex;
    background-color: #5a2328;
    color: #b5ffe9;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    height: 35px;
    margin-left: 30px;
    margin-top: 30px;
}
.user-list{
    display: flex;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
    list-style: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    margin-top: 25px;
    padding: 15px;
}
.user-list li a{
    color: #b5ffe9;
}
.romantic-pic1{
    height: 400px;
    z-index: -1;
}
.romantic-pic2{
    height: 250px;
    z-index: -1;
}
.romantic-pic3{
    height: 400px;
    z-index: -2;
}
.romantic-pic4{
    height: 300px;
    z-index: -2;
}
.romantic-pic5{
    height: 200px;
    z-index: -4;
}
.romantic-pic6{
    height: 250px;
    z-index: -3;
}
.romantic-pic7{
    height: 400px;
    z-index: -1;
}
.romantic-pic8{
    height: 190px;
    z-index: -3;
}
.deco{
    position: sticky;
    top: 0px;
    margin: 0px;
}


/* ------------------------ user.html--------------------- */
.username{
    display: flex;
    font-size: 100px;
    font-family: Late Night;
    margin-top: 25px;
    margin-left: 25px;
    color: #b5ffce;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 1px #b5ffe9, 0 0 5px #b5ffe9, 0 0 10px #16FA4A , 0 0 15px #16FA4A , 0 0 20px #16FA4A , 0 0 25px #068223 , 0 0 30px #068223 ;
    }
    to {
      text-shadow: 0 0 10px #b5ffe9, 0 0 20px #b5ffe9, 0 0 30px #16FA4A , 0 0 40px #16FA4A , 0 0 50px #16FA4A , 0 0 60px #068223 , 0 0 70px #068223 ;
    }
  }
  .bio{
    margin-left: 100px;
    color: #b5ffe9;
    font-size: 25px;
    font-weight: 400;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    
  }
  .pic-comment-user{
    color: #5a2328;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    font-size: 20px;
  }
  .user_info{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    }
    .pic-list{
        margin-left: 15vw;
    }


    /*------------------- messages.html--------------------- */
.header{
    display: flex;
    font-size: 65px;
    color: #b5ffe9;
    font-family: Late Night;
    color: #b5ffce;
    animation: glow 1s ease-in-out infinite alternate;
    margin-top: 45px;
    margin-left: 25px;
}
@keyframes glow {
    from {
      text-shadow: 0 0 1px #b5ffe9, 0 0 5px #b5ffe9, 0 0 10px #16FA4A , 0 0 15px #16FA4A , 0 0 20px #16FA4A , 0 0 25px #068223 , 0 0 30px #068223 ;
    }
    to {
      text-shadow: 0 0 10px #b5ffe9, 0 0 20px #b5ffe9, 0 0 30px #16FA4A , 0 0 40px #16FA4A , 0 0 50px #16FA4A , 0 0 60px #068223 , 0 0 70px #068223 ;
    }
  }
.label-form{
    font-size: 30px;
    margin-left: 20px;
}
.drop{
    margin-left: 20px;
    color: #b5ffe9;
    background-color: #444545;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.drop:active {
    background-color: #444545;
    color: #b5ffe9;
}
.box{
    height: 100px;
    width: 250px;
    background-color: #444545;
    color: #b5ffe9;
    border: solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}
.search-btn2{
    margin-left: 10px;
    background-color: #5a2328;
    color: #b5ffe9;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.header2{
    display: flex;
    font-size: 65px;
    font-family: Late Night;
    color: #b5ffce;
    animation: glow 1s ease-in-out infinite alternate;
    margin-left: 25px;
}
@keyframes glow {
    from {
      text-shadow: 0 0 1px #b5ffe9, 0 0 5px #b5ffe9, 0 0 10px #16FA4A , 0 0 15px #16FA4A , 0 0 20px #16FA4A , 0 0 25px #068223 , 0 0 30px #068223 ;
    }
    to {
      text-shadow: 0 0 10px #b5ffe9, 0 0 20px #b5ffe9, 0 0 30px #16FA4A , 0 0 40px #16FA4A , 0 0 50px #16FA4A , 0 0 60px #068223 , 0 0 70px #068223 ;
    }
  }
.label-form2{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
}
.spacer{
    display: flex;
    margin-bottom: 70px;
}
.messages-list{
    display: flex;
    margin-top: 15px;
    font-size: 20px;
    color: #b5ffe9;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}
.message{
    border: solid;
    border-radius: 10px;
    border-style: solid;
    border-color: #5a2328;
    background-color: #444545;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.flash{
    display: flex;
    color: #b5ffe9;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}