/* base.html */
.navbar-brand-dark-pink {
    display: flex;
    color: rgb(236, 236, 133); 
    font-size: x-large;
}
.nav-link-dark-pink{
    display: flex;
    color: rgb(236, 236, 133)
}
.nav-item{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
header{
    display: flex;
    height: 50px;
    width:100vw;
    position: static;
    top: 0px;
}
.logo{
    height: 25px;
    margin-left: 15px;
}


/* home.html  */
.home-body{
    background-color: rgb(140, 199, 105);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
    width: 100vw;
    height: 100vh;
}
.form-container-1{
    display: flex;
    flex-direction: row;
    top: 0px;
    flex: auto;
    margin-left: 40px;
    
}
.btn-submit{
    display: flex;
    background-color: black;
    color: rgb(236, 236, 133);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.form-container-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 30px;
}
.btn-logout{
    display: flex;
    position: absolute;
    color: black;
    background-color: rgb(236, 236, 133);
    margin-top: 175px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    
}
.photo1{
    display: flex;
    height: 300px;
    margin-left:  100px;
    
}
.acct-create{
    font-size: x-large;
    font-weight: 600;
    margin: 25px;
}


/* profile.html */
.name{
    color: rgb(0, 46, 137);
    font-size: 100px;
    font-family: Savoye LET;
    text-align:start;
    letter-spacing: 10px;
}
.add-name{
    color: rgb(0, 46, 137);
    font-size: 40px;
    font-family: Savoye LET;
    text-align:start;
    letter-spacing: 3px;
    margin-top: 30px;
}
.profile-body{
    background-color: rgb(142, 221, 255);
    background-size: cover;
    background-attachment: scroll;
    
}
.pic-form{
    color: rgb(0, 46, 137);
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}
.pic-form-box-address{
    border-color: rgb(0, 46, 137);
    background-color: transparent;
    color: rgb(0, 46, 137);
    
}
.pic-form-box-comment{
    border-color: rgb(0, 46, 137);
    background-color: transparent;
    color: rgb(0, 46, 137);
}
.pic-comment{
    color: rgb(0, 46, 137);
}
.pic-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 40vw;
}
.pics{
    margin-left: 30px;
}
.pic{
    transition: transform 0.3s ease-in-out;
}
.pic:hover{
    transform: scale(2);
}
.delete-btn{
    display: flex;
    color: black;
    background-color: rgba(255, 0, 0, 0.641);
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9)
}
.add-btn{
    margin-left: 25px;
    color: rgb(142, 221, 255);
    background-color: rgb(0, 46, 137);
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    width: 70px;
}
.logo{
    height: 40px;
}

/* all_users.html */
.heading{
    display: flex;
    position: relative;
    left: 200px;
    font-size: 125px;
    font-family: Simonetta;
    color: #efce6e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
}
.users-body{
    background-color: #4f467e;
    
    
}
.search-form{
    display: flex;
    position: relative;
    left: 200px;
    font-size: 30px;
    color: #fcf6e3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.search-form ul {
    list-style-type: none;
}
.search-btn{
    display: flex;
    background-color: #fcf6e3;
    color: #4f467e;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    height: 35px;
    margin-left: 30px;
    margin-top: 30px;
}
.user-list{
    display: flex;
    font-size: 30px;
    flex-direction: column;
    position: relative;
    left: 250px;
    list-style: none;
    margin-top: 50px;
    font-family: Simonetta;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}
.user-list li a{
    color: #efce6e;
}
.romantic-pic1{
    height: 400px;
    z-index: -1;
}
.romantic-pic2{
    height: 250px;
    z-index: -1;
}
.romantic-pic3{
    height: 400px;
    z-index: -2;
}
.romantic-pic4{
    height: 300px;
    z-index: -2;
}
.romantic-pic5{
    height: 200px;
    z-index: -4;
}
.romantic-pic6{
    height: 250px;
    z-index: -3;
}
.romantic-pic7{
    height: 400px;
    z-index: -1;
}
.romantic-pic8{
    height: 190px;
    z-index: -3;
}
.deco{
    position: sticky;
    top: 0px;
    margin: 0px;
}
/* user.html */
.username{
    display: flex;
    justify-content: center;
    font-size: 75px;
    font-family: ;
}