{% extends "base.html" %}

{% block head %}
<div class="form-container">
    <p>Log In:</p>
    <form action="/login" method="POST">
        {{ login_form.csrf_token() }}
        {{ login_form.username.label }}<br>
        {{ login_form.username }}<br><br>
        {{ login_form.password.label }}<br>
        {{ login_form.password }}<br><br>
        {{ login_form.remember_me.label }}
        {{ login_form.remember_me }}<br><br>
        {{ login_form.submit }}
    </form>
    <br>
    <img src="pics/DALL·E 2023-05-04 09.28.38 - romantic duo digital art.png">
    <form action="/logout">
        <button type="submit">Log Out</button>
    </form>
</div>
{% endblock%}

{% block body %}
<div class="form-container">
    <p>Create Account:</p>
    <form action="{{ url_for('new_user') }}" method="POST">
        {{ new_user_form.csrf_token() }}
        {{ new_user_form.new_username.label }}
        {{ new_user_form.new_username }}
        {{ new_user_form.new_password.label}}
        {{ new_user_form.new_password }}
        {{ new_user_form.user_bio.label }}
        {{ new_user_form.user_bio }}
        {{ new_user_form.user_email.label }}
        {{ new_user_form.user_email }}
        {{ new_user_form.is_female.label }}
        {{ new_user_form.is_female }}
        {{ new_user_form.submit }}
    </form>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endblock %}

{% block foot %}
{% endblock %}