{% extends "base.html" %}

{% block head %}
<body class="home-body"></body>
<div class="message-send">
    <div class="spacer">
    <h1 class="header">Send A Message</h1>
    <form class="message_form" action="{{ url_for('messages') }}" method="POST">
        {{ message_form.hidden_tag() }}
        {{ message_form.csrf_token() }}
        {{ message_form.recipient.label(class="label-form") }}{{ message_form.recipient(class="drop") }}
        {{ message_form.message.label(class="label-form")  }}{{ message_form.message(class="box") }}
        {{ message_form.submit(class="search-btn2") }}
    </form>
    </div>
</div>
{% for message in get_flashed_messages() %}
<p class="flash">{{ message }}</p>
{% endfor %}
<br>
{% endblock %}

{% block body %}
<div class="">
<h1     class="header2">My Messages</h1>
<form method="GET">
    <label class="label-form2" for="sender">Filter by Sender</label>
    <select class="drop" name="sender" id="sender">
        
        {% for sender in senders %}
            <option  value="{{ sender.id }}">{{ sender.username }}</option>
        {% endfor %}
    </select>
    <input class="search-btn2" type="submit" value="Filter">
</form>
</div>
<ul>
{% for message in messages %}
    <li class="messages-list">
        <div class="message">
            <p class="flash">From: {{ message.sender.username }}</p>
            <p class="flash">Message: {{ message.message }}</p>
            <p class="flash">Date/Time: {{ message.date_time }}</p>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}