{% extends "base.html" %}


{% block body %}



<body class="profile-body"></body>



{% if pictures %}
<ul class="pic-list">
    <h2 class="name">Pictures:</h2>
    {% for pic in pictures %}
        <li class="pics">
            <img class="pic" src="{{ pic.pic_url }}" alt="Picture">
            <p class="pic-comment">{{ pic.comment }}</p>
            <form method="POST" action="{{ url_for('delete_picture', pic_id=pic.pic_id) }}">
                <input type="hidden" name="pic_id" value="{{ pic.pic_id }}">
                <button class="delete-btn" type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <p class="add-name">Add A Picture:</p>
    <form class="pic-add" method="POST" action="{{ url_for('profile') }}">
        {{ add_photo_form.hidden_tag() }}
        {{ add_photo_form.url.label(class="pic-form") }} {{ add_photo_form.url(class="pic-form-box-address") }}
        {{ add_photo_form.comment.label(class="pic-form") }} {{ add_photo_form.comment(class="pic-form-box-comment") }}
        {{ add_photo_form.submit(class="add-btn") }}
    </formclass>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endblock %}
    
    {% block foot %}
    
    {% endblock %}