{% extends "base.html" %}

{% block head %}
    {% if profile %}
        <h2>{{ profile.username }}</h2>
    {% endif %}
{% endblock %}

{% block body %}
{% if conversations %}
    <ul>
        {% for convo in conversations %}
            <li>
                <div>
                    <p><a href="">{{ user2.username }}</a></p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
    {% if pictures %}
        <ul>
        {% for pic in pictures %}
            <li>
                <img src="{{ pic.pic_url }}" alt="Picture">
                <p>{{ pic.comment }}</p>
                <form method="POST" action="{{ url_for('delete_picture', pic_id=pic.pic_id) }}">
                    <input type="hidden" name="pic_id" value="{{ pic.pic_id }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <form method="POST" action="{{ url_for('profile') }}">
        {{ add_photo_form.hidden_tag() }}
        {{ add_photo_form.url.label }} {{ add_photo_form.url }}
        {{ add_photo_form.comment.label }} {{ add_photo_form.comment }}
        {{ add_photo_form.submit() }}
    </form>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
{% endblock %}

{% block foot %}

{% endblock %}