{% extends "base.html" %}

{% block head %}
<body class="profile-body"></body>
        {% if user %}
            <div class="user_info">
                <p class="username">{{ user.username }}</p>
                <p class="bio">{{ user.user_bio}}</p>
            </div>
        {% else %}
            <p>User not found.</p>
        {% endif %}
        {% for pic in pictures %}
    <ul class="pic-list">
        <li>
            <img class="pic" src="{{ url_for('static', filename='pics/' + pic.pic_url) }}" alt="Picture">
            <p class="pic-comment-user">{{ pic.comment }}</p>
        </li>
    </ul>
    {% endfor %}
{% endblock %}

{% block body %}
{% endblock %}

{% block foot %}
{% endblock %}