{% extends "base.html" %}

{% block head %}
        {% if user %}
            <div class="user_info">
                <p class="username">{{ user.username }}</p>
                <p>{{ user.user_bio}}</p>
            </div>
        {% else %}
            <p>User not found.</p>
        {% endif %}
        {% for pic in pictures %}
        <li>
            <img src="{{ pic.pic_url }}" alt="Picture">
            <p>{{ pic.comment }}</p>
        </li>
    {% endfor %}
{% endblock %}

{% block body %}
{% endblock %}

{% block foot %}
{% endblock %}